  <h1><%= post.title %></h1>

  <% if post.picture.present? %>
    <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
  <% end %>

  <%= link_to "Pay", new_post_charge_path(post) %>

  <% post.tags.each do |tag| %>
  <br><%= link_to tag.text, tag %></br>
  <% end %>