<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <%= image_tag post.picture.url, class: 'uploaded-pic' %>
  <% end %>
<% else %>
  There are currently no posts
<% end %>
<%= link_to 'Add new post', new_post_path %>
