<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>

  <% if post.picture.present? %>
    <%= image_tag post.picture.url, class: 'uploaded-pic' %>
  <% end %>

  <% post.tags.each do |tag| %>
  <%= link_to tag.text, '#' %>
  <% end %>
<% end %>


<% else %>
  There are currently no posts
<% end %>
<%= link_to 'Add new post', new_post_path %>
